# Terraform files
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl

# Credentials and secrets
*.pem
*.key
*.crt

# System and editor files
.DS_Store
.vscode/
.vscode-remote-containers/
*.log
*.zip
*.swp
*Zone.Identifier
